@mixin text {
  color: #f0dcd8;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.5px;
}

@mixin btn {
  font-family: Source Serif Pro;
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  width: 420px;
}

.audio-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 150px 0 40px 0;
  text-align: center;

  .question {
    width: 100%;
    padding: 24px;
    border-radius: 6px;
    border: 2px solid rgba(255, 255, 255, 0.12);
    background: rgba(29, 15, 39, 0.4);
    display: flex;
    flex-direction: column;
    gap: 12px;

    &--title {
      color: #f0dcd8;
      font-family: Inter;
      font-size: 18px;
      font-weight: 700;
      line-height: 140%;
      width: 100%;
      text-align: start;
    }

    &--story-title {
      width: 100%;
      padding: 20px 24px;
      border-radius: 4px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      background: rgba(251, 248, 200, 0.1);
      backdrop-filter: blur(48px);
      display: flex;
      align-items: center;
      gap: 10px;

      > input {
        width: 100%;
        background: transparent;
        border: none;
        outline: none;
        @include text;

        &::placeholder {
          @include text;
        }
      }
    }

    &--story-create {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: start;
      height: 400px;

      &__left {
        height: 100%;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(48px);
        width: 35%;
        padding: 24px;
        overflow: hidden;

        > p {
          color: #fff;
          text-align: right;
          font-feature-settings: "clig" off, "liga" off;
          font-family: Inter;
          font-size: 16px;
          font-weight: 500;
          line-height: 28px;
          letter-spacing: -0.5px;
          width: 100%;
          text-align: end;
        }

        &--upload {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 100%;
          gap: 8px;

          > label {
            color: #f0dcd8;
            font-feature-settings: "clig" off, "liga" off;
            font-family: Inter;
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
            text-decoration-line: underline;
            cursor: pointer;
          }
        }
        .image {
          width: 100%;
          height: 100%;
          position: relative;
          > img {
            object-fit: cover;
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
          }
          .remove {
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
            z-index: 2;
          }
        }
      }

      &__right {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 63%;
        height: 100%;

        .top {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          grid-column-gap: 10px;
          grid-row-gap: 10px;
          height: 330px;

          &--box {
            border-radius: 4px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(48px);
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            height: 145px;

            .image {
              width: 100%;
              height: 100%;
              position: relative;
              > img {
                object-fit: cover;
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
              }
              .remove {
                position: absolute;
                right: 10px;
                top: 10px;
                cursor: pointer;
                z-index: 2;
              }
            }
          }
        }

        .record {
          border-radius: 4px;
          border: 1px solid rgba(255, 255, 255, 0.2);
          background: #5c5a79;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 90px;
          overflow: hidden;
        }
      }
    }
  }
  .btns {
    margin: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}
