.default {
  display: flex;
  width: 420px;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: rgba(29, 15, 39, 0.4);
  backdrop-filter: blur(48px);
  color: #d7d6de;
  font-family: Source Serif Pro;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  border: none;
  
}
