.uploaded {
    display: flex;
    width: 400px;
    height: 300px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(48px);
    overflow: hidden;
    position: relative;

    &--close {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }

    > img {
      width: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .upload {
    display: flex;
    width: 400px;
    height: 300px;
    padding: 20px 24px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(48px);
    overflow: hidden;

    > label {
      color: var(--Enactive, #f0dcd8);
      font-feature-settings: "clig" off, "liga" off;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
      text-decoration-line: underline;
      cursor: pointer;
    }
  }