.body-title {
  color: #ffd15c;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Source Serif Pro;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 64px;
  letter-spacing: -0.5px;
}
