@mixin text {
  color: #f0dcd8;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.5px;
}
@mixin btn {
  font-family: Source Serif Pro;
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  width: 420px;
}
@mixin select {
  width: 100%;
  padding: 24px;
  display: flex;
  align-self: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

@mixin record-btn {
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: var(--Purple, #5c5a79);
  color: var(--Enactive, #f0dcd8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.video-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 150px 0 40px 0;
  text-align: center;

  .title {
    color: #ffd15c;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Source Serif Pro;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 64px; /* 133.333% */
    letter-spacing: -0.5px;
    margin-bottom: 30px;
  }

  .video-content {
    margin: 12px;
    width: 100%;
    display: flex;
    align-items: start;
    gap: 12px;

    &__left,
    &__right {
      > p {
        color: var(--Enactive, #f0dcd8);
        font-family: Inter;
        font-size: 18px;
        font-weight: 700;
        width: 100%;
        text-align: start;
      }
      .video-media {
        width: 100%;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(48px);
        display: flex;
        padding: 20px 24px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        height: 220px;
        overflow: hidden;

        > p {
          color: #fff;
          font-feature-settings: "clig" off, "liga" off;
          font-family: Inter;
          font-size: 16px;
          font-weight: 500;
          line-height: 22px;
        }
      }

      .record-button {
        @include record-btn;
      }
      .record-button-d {
        @include record-btn;
        cursor: not-allowed;
      }

      .done-media {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;

        .delete-video {
          cursor: pointer;
        }
      }
    }

    &__left {
      border-radius: 6px;
      border: 2px solid rgba(255, 255, 255, 0.12);
      background: rgba(29, 15, 39, 0.4);
      backdrop-filter: blur(16px);
      padding: 24px;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 16px;

      .upload {
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(48px);
        width: 400px;
        height: 300px;
        padding: 20px 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;

        > * {
          object-fit: contain;
        }

        &__box {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          > label {
            color: var(--Enactive, #f0dcd8);
            font-feature-settings: "clig" off, "liga" off;
            font-family: Inter;
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
            cursor: pointer;
            text-decoration-line: underline;
          }
        }
        .video {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
        .delete {
          position: absolute;
          right: 10px;
          top: 10px;
          z-index: 2;
          cursor: pointer;
        }
      }
    }

    &__right {
      border-radius: 6px;
      border: 2px solid rgba(255, 255, 255, 0.12);
      background: rgba(29, 15, 39, 0.4);
      backdrop-filter: blur(16px);
      padding: 24px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 16px;

      .story-title {
        width: 100%;
        padding: 20px 24px;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background: rgba(251, 248, 200, 0.1);
        backdrop-filter: blur(48px);
        display: flex;
        align-items: center;
        gap: 10px;

        > input {
          width: 100%;
          background: transparent;
          border: none;
          outline: none;
          @include text;
          color: #fff;

          &::placeholder {
            @include text;
          }
        }
      }
      .storyStyleSelectOpened {
        @include select;
        border-radius: 4px;
        border: 1px solid rgba(236, 237, 239, 0.5);
        background: linear-gradient(
            85deg,
            rgba(0, 0, 0, 0.2) 12.59%,
            rgba(0, 0, 0, 0.17) 98.77%
          ),
          rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(48px);
      }
      .storyStyleSelect {
        @include select;
        border-radius: 6px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(48px);
      }
      .storyStyleSelect,
      .storyStyleSelectOpened {
        > label {
          color: #fff;
          font-feature-settings: "clig" off, "liga" off;
          font-family: Inter;
          font-size: 18px;
          font-weight: 400;
          letter-spacing: -0.5px;
          opacity: 0.5;
        }

        .list {
          position: absolute;
          top: 105%;
          left: 0;
          width: 100%;
          display: flex;
          padding: 12px;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          border-radius: 6px;
          border: 1px solid rgba(236, 237, 239, 0.5);
          background: linear-gradient(
              85deg,
              rgba(0, 0, 0, 0.2) 12.59%,
              rgba(0, 0, 0, 0.17) 98.77%
            ),
            rgba(0, 0, 0, 0.2);
          backdrop-filter: blur(20px);

          > li {
            width: 100%;
            text-align: start;
            padding: 12px 0;
            list-style: none;
            color: #fff;
            font-family: Lato, sans-serif;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
          }
        }
      }
    }
  }

  .first-q {
    @include btn;
    color: #d7d6de;
    margin: 50px 0 10px 0;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(29, 15, 39, 0.4);
    backdrop-filter: blur(48px);
    padding: 16px 0;
  }
  .disabled {
    @include btn;
    color: #d7d6de;
    margin: 50px 0 10px 0;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(29, 15, 39, 0.4);
    backdrop-filter: blur(48px);
    padding: 16px 0;
    cursor: not-allowed;
  }

  .next {
    @include btn;
    color: #d7d6de;
    margin: 50px 0 10px 0;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(29, 15, 39, 0.4);
    backdrop-filter: blur(48px);
    padding: 16px 0;
  }
  .skip {
    @include btn;
    background: transparent;
    border: none;
    color: #f0dcd8;
    opacity: 0.65;
  }
}
